RESEND_API_KEY=
CONTACT_NOTIFY_EMAIL=kontakt@dgteam.de
QUOTE_NOTIFY_EMAIL=kontakt@dgteam.de
CAREER_NOTIFY_EMAIL=kontakt@dgteam.de
EMAIL_FROM=DG Team <anfrage@dgteam.de>
NEXT_PUBLIC_SITE_URL=https://www.dgteam.de
NEXT_PUBLIC_WHATSAPP_NUMBER=4915252609017
BLOB_READ_WRITE_TOKEN=
TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
